<!DOCTYPE html>
<html> 
    <head>
        <meta charset="UTF-8" /> 
        <link rel="stylesheet" type="text/css" href="ejercicio3.css">
        <title> flexbox </title>
    </head>
    <body>
        <div class="container">
   
            <div class="encabezado">div encabezado
                <div id="logo" class="barras">div logo</div>
                <div id="menu1"class="barras">div menu1</div>
                <div id="menu2"class="barras">div menu2</div>
            </div>
            <div class="container-bloques">
                <div id="izquierda" class="bloques">div izquierda</div>
                <div id="centro" class="bloques">div centro</div>
                <div id="derecha" class="bloques">div derecha</div>

            </div>
            <div class="container-bloques2">
                <div id="izquierda-2" class="bloques">div izquierda 2</div>
                <div id="derecha-2" class="bloques">div derecha 2</div>

            </div>
            <div class="footer-barra"> div pie
                <div id="elemento" class="barras">div elemento</div>

            </div>
   
   
        <div>

    </body>
</html>