body {
    height: 100%;
    background-image: url(../imagenes/fondopagina.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment:scroll;
    width: 100%;
    
   }
img{
    display:flex;
    flex-wrap: wrap;
    margin:0 auto;
    justify-content: center;
    width: 7%;
    height: 7%;
    padding-bottom: 30px;
    }
    nav {
        background-color: #f2f2f2;
        padding: 10px;
      }
      
      nav a {
        color: #333;
        text-decoration: underline;
        font-weight: bold;
        padding: 5px 10px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      }
      
      nav a:hover {
        background-color: #ccc;
      }
    
h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large ;
    text-align: justify;
    margin-left: 50px;
    line-height: 1.8;
    width: 90%;
      
      
}

h2 {
    font-size: large;
    font-style: oblique;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
   
}