body {
    height: 100%;
    background-image: url(../imagenes/reserva.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment:scroll;
    width: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   }
   img{
    display:flex;
    flex-wrap: wrap;
    margin:0 auto;
    justify-content: center;
    width: 7%;
    height: 7%;
    padding-bottom: 30px;
    }

    nav {
      background-color: #f2f2f2;
      padding: 10px;
    }
    
    nav a {
      color: #333;
      text-decoration: underline;
      font-weight: bold;
      padding: 5px 10px;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    nav a:hover {
      background-color: #ccc;
    }

      h1 {
        padding-left: 15px;
        font-size: 30px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style: oblique;
        text-align: center;
      } 

      h2 {
        font-size: large;
        font-style: oblique;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
        }
    
      form {
        width: 300px;
        margin: 0 auto;
      }
    
      label {
        display: block;
        margin-bottom: 10px;
        color: #666;
      }
    
      input[type="text"],
      input[type="date"],
      input[type="time"],
      input[type="number"] {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    
      input[type="submit" ] {
        background-color: #4CAF50;
        color: white;
        border-color: #333;
        padding: 10px;
        cursor: pointer;
        width: 100%;
        border-radius: 4px;
      }
      input[type="reset" ] {
        background-color: #af4c4c;
        color: white;
        border-color: #333;
        padding: 10px;
        cursor: pointer;
        width: 100%;
        border-radius: 4px;
      }