body {
    height: 100%;
    background-image: url(../imagenes/fondopagina.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment:scroll;
    width: 100%;
    font-family: Arial, sans-serif;
   
    
   }
img{
    display:flex;
    flex-wrap: wrap;
    width: 7%; 
    height: 7%;
    padding-bottom: 30px;
    margin: 0 auto;
    margin-top: 30px;
    }

    nav {
        background-color: #f2f2f2;
        padding: 10px;
      }
      
      nav a {
        color: #333;
        text-decoration: underline;
        font-weight: bold;
        padding: 5px 10px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      }
      
      nav a:hover {
        background-color: #ccc;
      }

    h1 {
        padding-left: 15px;
        font-size: 30px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style: oblique;
        text-align: center;
        
    }
    h2 {
    text-decoration: underline;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color:rgb(5, 5, 85);

    }
    .container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        font-size: large;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
    
    }

    .container > div {
    
        padding: 10px;
        width: 48%; 
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    ul li {
        padding: 5px 0;
    }