/* Estilos generales */
body {
    height: 100%;
  }
  
  .container {
    background-image: url("../imagenes/fondopagina.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: scroll;
    width: 100%;
  }
  
  a:hover {
    background-color: #b4fbfb;
    text-decoration: none;
   
  }
  
  .eslogan {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 60%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  img {
    display: flex;
    flex-wrap: wrap;
    width: 10%;
    height: 7%;
  }
  
  h1 {
    padding-left: 15px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    text-align: center;
  }
  
  .carousel-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 85%;
    height: 500px;
    padding-left: 15%;
    margin-bottom: 30px;
  }
  
  h2 {
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    text-align: start;
    margin-bottom: 20px;
  }
  
  /* Estilos para el contenedor principal */
  .contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 0 auto;
  }
  
  /* Estilos para los encabezados de sección "DIRECCIÓN", "TELÉFONO" y "EMAIL" */
  h3 {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
  }
  
  /* Estilos para las listas de elementos */
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
  }
  
  /* Estilos para los elementos de la lista */
  li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    margin-right: 5px;
  }
  
  /* Estilos para el identificador "direccion" */
  #direccion {
    color: blue;
  }
  
  /* Estilos para el identificador "telefono" */
  #telefono {
    color: green;
  }
  
  /* Estilos para el identificador "email" */
  #email {
    color: red;
  }
  a {
    text-decoration: none;
    color: #034b93;
  }
  
  
      
      
      
      
      